[Unit]
Description=Run wxhb video reference media cleanup

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
